location {{ DBMI_HEALTHCHECK_PATH }} {

{% if DBMI_LB is defined and DBMI_LB %}
    # Only allow load balancer and local hosts
    allow {{ DBMI_LB_SUBNET }};
    allow 127.0.0.1;
    deny all;
{% endif %}

{% if DBMI_APP_HEALTHCHECK_PATH is defined %}

    # Proxy to the app's healthcheck endpoint
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_pass   http://127.0.0.1:8080{{ DBMI_APP_HEALTHCHECK_PATH }};

{% else %}

    # Just return 200 to check on NGINX
    return 200;

{% endif %}

    # Redirect logs to keep actual logs clean
    access_log /var/log/nginx/healthcheck.log;
}
